/* .Login_Page{
    background-color: black;
}
.bgbg{
    background-image: url("iNotebook\public\bg.jpg");
    background-repeat:no-repeat;
    background-size: cover;
}

.transparent{
    background-color: transparent;
} */
